* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 50px;
}

button {
    border: 3px solid black;
    text-transform: uppercase;
    padding: 5px 10px;
    color: black;
    background-color: transparent;
    margin: 0 30px 30px 0;
    font-size: 50px;
}

.box {
    float: left;
    background-color: teal;
    width: 100px;
    height: 100px;
    animation: create 1s linear both;
}

@keyframes create {
    0% {
        width: 0;
        height: 0;
        transform: rotate(0);
    }

    100% {
        width: 100px;
        height: 100px;
        transform: rotate(90deg);
        background-color: yellow;
    }
}